fastapi==0.111.1
pydantic==2.8.2
passlib==1.7.4
python-jose==3.3.0
PyJWT==2.5.0
black==24.4.2
flake8==7.0.0
isort==5.13.2
mypy==1.11.2
uvicorn==0.30.3
pydantic-settings==2.3.4
ruff==0.5.0
aio-pika==9.4.2
beautifulsoup4==4.12.3
gspread==6.1.2
firebase_admin==6.5.0
